.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-link {
  color: #61dafb;
}

.caffe-panel {
  padding-top: 100px;
  padding-left: 100px;
  display: flex;
  order: 5;
  flex-direction:row;
  justify-content: flex-start;
  gap: 10%;
 
}
